body { font-family:Verdana,sans-serif; font-size:10pt; margin-left: 20pt;}
a {color:#0000FF};
.code { font-family:'Courier New',Courier,monospace; font-size:10pt; color:#008040}
code { font-family:'Courier New',Courier,monospace; font-size:10pt; color:#008040}
pre { font-family:'Courier New',Courier,monospace; font-size:10pt; color:#008040}
h1 { font-family:Verdana,serif; font-size:14px; color:#005050; padding-top:8pt; padding-bottom: 4pt; margin-left: -17pt;}
h2 { font-family:Verdana,serif; font-size:18pt; margin-left: -17pt;}
td { font-family:Verdana,sans-serif; font-size:8pt; }
th { font-family:Verdana,sans-serif; font-size:8pt; text-align:left; background:#DCEBFF;}
